.amsterdamAmstelveenAbcoude,
.berlinHamburgAnd,
.readyToTake {
  margin: 0;
}
.readyToTakeContainer {
  position: relative;
  line-height: 20.8px;
  font-weight: 500;
  display: inline-block;
  max-width: 720px;
}
.footerCustomText,
.paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph {
  align-self: stretch;
  padding: 0 var(--padding-12xl) var(--padding-12xs-4) 0;
}
.footerCustomText {
  width: 720px;
  max-width: 100%;
}
.bookNow {
  width: 80px;
  position: relative;
  font-size: var(--download-2-nuckle-medium-14-size);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--download-2-nuckle-regular-16);
  color: var(--download-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  max-height: 48px;
}
.buttonTitle,
.buttonWrap {
  display: flex;
  align-items: flex-start;
}
.buttonTitle {
  border-radius: var(--br-41xl);
  background-color: var(--download-nero);
  border: 1px solid var(--download-black);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-mini-6) var(--padding-40xl) var(--padding-mini-4);
  min-width: 200px;
  white-space: nowrap;
}
.buttonWrap {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  justify-content: flex-start;
}
.footerBackground,
.footerCustomWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footerCustomWrapper {
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-191xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.footerBackground {
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(/public/footer-background@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--download-2-nuckle-regular-16-size);
  color: var(--download-nero);
  font-family: var(--download-2-nuckle-regular-16);
}
@media screen and (max-width: 1425px) {
  .footerCustomWrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .readyToTakeContainer {
    max-width: 100%;
  }
  .footerCustomWrapper {
    padding-left: var(--padding-86xl);
    padding-right: var(--padding-86xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footerCustomWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
