@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --download-3-nuckle-medium-25: Outfit;
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --download-2-nuckle-medium-14-size: 14px;
  --download-4-nuckle-regular-12-underline-size: 12px;
  --font-size-xl: 20px;
  --download-2-nuckle-regular-16-size: 16px;
  --download-3-nuckle-medium-25-size: 25px;
  --font-size-101xl: 120px;
  --font-size-29xl: 48px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --download-2-nuckle-medium-10-size: 10px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-51xl: 70px;
  --font-size-37xl: 56px;
  --font-size-23xl: 42px;
  --font-size-5xs: 8px;

  /* Colors */
  --download-heavy-metal: #141615;
  --download-2-nero-20: rgba(255, 255, 255, 0.2);
  --download-2-nero-40: rgba(255, 255, 255, 0.4);
  --download-4-nero-90: rgba(255, 255, 255, 0.9);
  --download-3-nero-50: rgba(255, 255, 255, 0.5);
  --download-1-black-87: rgba(0, 0, 0, 0.87);
  --download-mine-shaft-10: rgba(42, 42, 42, 0.1);
  --download-heavy-metal-40: rgba(20, 22, 21, 0.4);
  --download-nero-10: rgba(255, 255, 255, 0.1);
  --download-nero-02: rgba(255, 255, 255, 0);
  --download-1-heavy-metal-90: rgba(20, 22, 21, 0.9);
  --download-heavy-metal-60: rgba(20, 22, 21, 0.6);
  --download-heavy-metal-10: rgba(20, 22, 21, 0.1);
  --download-nero-60: rgba(255, 255, 255, 0.6);
  --download-nero: #fff;
  --color-gainsboro-100: #e6e6e6;
  --download-moon-mist: #ddd9cd;
  --download-black: #000;
  --download-pampas: #f4f1ec;
  --download-gallery: #f0f0f0;
  --download-porcelain: #ebedee;
  --download-2-ebb: #edeae8;
  --color-darkslategray: #474a47;
  --download-parchment: #efe1cb;
  --color-dimgray-100: #636f78;
  --download-corduroy: #606160;
  --download-kangaroo: #c6c7b8;
  --download-1-silver: #c4c4c4;
  --download-3-nobel: #b6b6b6;
  --color-lightgray: #d4d1cf;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-9xl: 28px;
  --gap-101xs-8: -88.8px;
  --gap-38xl: 57px;
  --gap-4xl: 23px;
  --gap-0: 0px;
  --gap-mini-5: 14.5px;
  --gap-mini-9: 14.9px;
  --gap-12xs-1: 0.1px;
  --gap-11xs: 2px;
  --gap-12xs-3: 0.3px;
  --gap-2xs-6: 10.6px;
  --gap-21xl: 40px;
  --gap-2xl: 21px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-23xl-4: 42.4px;
  --padding-2xl: 21px;
  --padding-smi-8: 12.8px;
  --padding-sm: 14px;
  --padding-smi-9: 12.9px;
  --padding-4xl: 23px;
  --padding-7xl: 26px;
  --padding-2xl-1: 21.1px;
  --padding-102xl-8: 121.8px;
  --padding-2xl-2: 21.2px;
  --padding-xl: 20px;
  --padding-60xl: 79px;
  --padding-4xs-5: 8.5px;
  --padding-12xs-1: 0.1px;
  --padding-6xs: 7px;
  --padding-5xs-9: 7.9px;
  --padding-12xs-9: 0.9px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-8xs: 5px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-mini-6: 14.6px;
  --padding-16xl: 35px;
  --padding-mini-4: 14.4px;
  --padding-17xl: 36px;
  --padding-xl-5: 20.5px;
  --padding-11xs: 2px;
  --padding-base-5: 15.5px;
  --padding-49xl-4: 68.4px;
  --padding-49xl-6: 68.6px;
  --padding-mini: 15px;
  --padding-234xl: 253px;
  --padding-81xl-4: 100.4px;
  --padding-23xl-3: 42.3px;
  --padding-107xl: 126px;
  --padding-46xl: 65px;
  --padding-lgi: 19px;
  --padding-14xl: 33px;
  --padding-9xl: 28px;
  --padding-3xs: 10px;
  --padding-mini-3: 14.3px;
  --padding-12xl: 31px;
  --padding-5xl: 24px;
  --padding-21xl: 40px;
  --padding-191xl: 210px;
  --padding-86xl: 105px;
  --padding-40xl: 59px;
  --padding-12xs-4: 0.4px;
  --padding-62xl: 81px;
  --padding-61xl: 80px;
  --padding-34xl: 53px;
  --padding-33xl: 52px;
  --padding-15xl: 34px;
  --padding-16xl-5: 35.5px;
  --padding-mid-8: 17.8px;
  --padding-9xs-3: 3.3px;
  --padding-47xl: 66px;
  --padding-231xl: 250px;
  --padding-41xl: 60px;
  --padding-143xl: 162px;
  --padding-20xl: 39px;
  --padding-sm-5: 13.5px;
  --padding-9xs: 4px;
  --padding-mini-2: 14.2px;
  --padding-mini-5: 14.5px;
  --padding-9xs-5: 3.5px;
  --padding-211xl: 230px;
  --padding-6xl-4: 25.4px;
  --padding-205xl: 224px;
  --padding-5xs: 8px;
  --padding-10xs: 3px;
  --padding-xs-3: 11.3px;
  --padding-sm-9: 13.9px;
  --padding-11xs-2: 1.2px;
  --padding-10xs-5: 2.5px;
  --padding-210xl-6: 229.6px;
  --padding-204xl-6: 223.6px;
  --padding-210xl-5: 229.5px;
  --padding-204xl-5: 223.5px;
  --padding-sm-8: 13.8px;
  --padding-72xl: 91px;
  --padding-71xl: 90px;
  --padding-39xl: 58px;
  --padding-19xl: 38px;
  --padding-162xl: 181px;
  --padding-99xl: 118px;
  --padding-266xl-6: 285.6px;
  --padding-124xl: 143px;
  --padding-4xs: 9px;
  --padding-266xl: 285px;
  --padding-123xl: 142px;
  --padding-smi-2: 12.2px;
  --padding-129xl: 148px;
  --padding-55xl: 74px;
  --padding-12xl-1: 31.1px;
  --padding-178xl: 197px;
  --padding-79xl: 98px;
  --padding-6xl-6: 25.6px;
  --padding-44xl-5: 63.5px;
  --padding-44xl: 63px;
  --padding-2xs: 11px;
  --padding-11xs-5: 1.5px;
  --padding-23xl: 42px;
  --padding-11xs-7: 1.7px;
  --padding-345xl-5: 364.5px;
  --padding-31xl: 50px;
  --padding-218xl: 237px;
  --padding-125xl: 144px;
  --padding-135xl: 154px;
  --padding-32xl-9: 51.9px;
  --padding-11xs-8: 1.8px;
  --padding-7xs: 6px;
  --padding-11xs-1: 1.1px;
  --padding-lgi-9: 19.9px;
  --padding-12xs-6: 0.6px;
  --padding-lg-5: 18.5px;
  --padding-lg-7: 18.7px;
  --padding-12xl-9: 31.9px;
  --padding-14xl-3: 33.3px;
  --padding-9xl-3: 28.3px;
  --padding-2xs-3: 10.3px;
  --padding-7xs-3: 5.3px;
  --padding-xs: 12px;
  --padding-10xl: 29px;
  --padding-11xs-6: 1.6px;
  --padding-295xl: 314px;
  --padding-185xl: 204px;
  --padding-114xl: 133px;
  --padding-36xl: 55px;
  --padding-12xs-2: 0.2px;
  --padding-5xs-7: 7.7px;
  --padding-11xs-4: 1.4px;
  --padding-119xl: 138px;
  --padding-6xs-8: 6.8px;
  --padding-85xl-7: 104.7px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-330xl-5: 349.5px;
  --padding-68xl: 87px;
  --padding-155xl: 174px;
  --padding-3xl: 22px;
  --padding-12xs-8: 0.8px;
  --padding-base: 16px;
  --padding-5xs-8: 7.8px;
  --padding-4xs-1: 8.1px;
  --padding-4xl-7: 23.7px;
  --padding-3xl-5: 22.5px;
  --padding-333xl: 352px;
  --padding-210xl: 229px;
  --padding-130xl: 149px;
  --padding-8xs-6: 4.6px;
  --padding-8xs-7: 4.7px;
  --padding-lgi-3: 19.3px;
  --padding-lgi-2: 19.2px;
  --padding-78xl: 97px;
  --padding-58xl: 77px;
  --padding-24xl: 43px;
  --padding-67xl: 86px;
  --padding-26xl: 45px;
  --padding-115xl: 134px;
  --padding-7xs-9: 5.9px;
  --padding-327xl: 346px;
  --padding-127xl: 146px;
  --padding-206xl: 225px;
  --padding-269xl: 288px;
  --padding-2xl-7: 21.7px;
  --padding-144xl: 163px;
  --padding-151xl: 170px;
  --padding-108xl: 127px;
  --padding-108xl-1: 127.1px;
  --padding-base-9: 15.9px;
  --padding-base-1: 16.1px;
  --padding-6xs-9: 6.9px;
  --padding-150xl-4: 169.4px;
  --padding-65xl: 84px;
  --padding-smi-3: 12.3px;
  --padding-5xl-4: 24.4px;
  --padding-5xs-6: 7.6px;
  --padding-xs-2: 11.2px;

  /* Border radiuses */
  --br-61xl: 80px;
  --br-71xl: 90px;
  --br-41xl: 60px;
  --br-11xl: 30px;
  --br-11xs: 2px;
  --br-5xs: 8px;
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-99971xl: 99990px;
  --br-4xl: 23px;
  --br-7xl-5: 26.5px;
  --br-26xl: 45px;
  --br-3xs: 10px;
  --br-25xl: 44px;
  --br-9980xl: 9999px;
}
